<main>
    <h1 class="text-center fw-semibold">Prueba</h1>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <p >
            Esto es una prueba de pagina web de Astro está alineado a la izquierda <br>
            Esto es una prueba de pagina web de Astro <br>
        </p>
    </div>
    <section>
    <div class="container-sm redondo micontenedor text-light">
        <div class="row row-cols-md-3 row-cols-sm-1 row-cols-xs-1">
            <div class=" col-lg-4 text-center altura d-flex flex-column justify-content-center align-items-center">
                <h3 class="name fs-2">Magma 1.12.2</h3>
                <p class="version fs-6">Version: fasd8</p>
                <p class="date fs-5">Date: 2024-10-23 18:03:01</p>
                <a href="">Descarga aqui</a>
            </div>
            <div class=" col-lg-4 text-center altura d-flex flex-column justify-content-center align-items-center">
                <h3 class="name fs-2">Magma 1.12.2</h3>
                <p class="version fs-6">Version: fasd8</p>
                <p class="date fs-5">Date: 2024-10-23 18:03:01</p>
                <a href="">Descarga aqui</a>
            </div>
            <div class=" col-lg-4 text-center altura d-flex flex-column justify-content-center align-items-center">
                <h3 class="name fs-2">Magma 1.12.2</h3>
                <p class="version fs-6">Version: fasd8</p>
                <p class="date fs-5">Date: 2024-10-23 18:03:01</p>
                <a href="">Descarga aqui</a>
            </div>
        </div>
        <div class="row row-cols-md-3 row-cols-sm-1 row-cols-xs-1">
            <div class=" col-lg-4 text-center altura d-flex flex-column justify-content-center align-items-center">
                <h3 class="name fs-2">Magma 1.12.2</h3>
                <p class="version fs-6">Version: fasd8</p>
                <p class="date fs-5">Date: 2024-10-23 18:03:01</p>
                <a href="">Descarga aqui</a>
            </div>
            <div class=" col-lg-4 text-center altura d-flex flex-column justify-content-center align-items-center">
                <h3 class="name fs-2">Magma 1.12.2</h3>
                <p class="version fs-6">Version: fasd8</p>
                <p class="date fs-5">Date: 2024-10-23 18:03:01</p>
                <a href="">Descarga aqui</a>
            </div>
            <div class=" col-lg-4 text-center altura d-flex flex-column justify-content-center align-items-center">
                <h3 class="name fs-2">Magma 1.12.2</h3>
                <p class="version fs-6">Version: fasd8</p>
                <p class="date fs-5">Date: 2024-10-23 18:03:01</p>
                <a href="">Descarga aqui</a>
            </div>
        </div>
    </div>
</section>
</main>

<style>
    p {
		font-size: 1.5rem;
	}
	h1 {
		font-size: 2.5rem;
	}
	.altura {
		height: 300px;
		justify-content: center;
		align-items: center;

	}
	.micontenedor {
		border-radius: 20px;
		background-color: rgb(16, 124, 201);
		margin-top: 50px;
		margin-bottom: 50px;
		
	}
	a {
		color: white;
		font-size: 1.5rem;
		text-decoration: none;
		padding: 10px;
	}

	a:hover {
		color: rgb(143, 204, 248);
		background-color: white;
		border-radius: 10px;
		padding: 10px;
	}
	section {
		background-image: url('bg-maps.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-color: aqua;
		height: 100vh;
		max-height: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	

</style>